body {
  font-family: 'Roboto','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(240, 175, 175);
}


.post {
  background-color: rgb(240, 199, 175);
  margin: 2em;
  padding: 2em;
}

h3, p {
  margin: 0;
}

#title-section {
  border: 2px solid black;
  border-radius: 16px;
  background-color:;
  padding: 1em;
  margin: 2em auto;
  text-align: center;
  width: 50%;
  background-color: rgb(195, 235, 235);
}

#title-section, p {
  margin-bottom: 1em;
}

img {
  border-radius: 16px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}